{% extends "base.html" %}

{% block content %}

<div class="text-center">

    <h1 class="text-primary">Welcome to My DevOps Project 🚀</h1>

    <p class="lead">
        This website is built using Flask and Bootstrap.
    </p>

    <button class="btn btn-primary mb-5">
        Learn DevOps
    </button>

</div>

<div class="row">

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>🐍 Python</h3>
                <p>Backend development using Flask.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>⚙️ DevOps</h3>
                <p>Git, GitHub, Docker and CI/CD.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>☁️ Cloud</h3>
                <p>AWS deployment coming soon.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}